* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div {
    
    width: 100%;
    height: 100px;
    padding-left: 90%;
  --sb-track-color: #232e33;
  --sb-thumb-color: #6baf8d;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

.closebutton {
    z-index: 1;
    cursor: pointer;
    width: 10%;
    margin-top: 20px;
}

.login-box {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #000000;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #000000;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box a:hover {
    background: #000000;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #000000,
        0 0 25px #000000,
        0 0 50px #000000,
        0 0 100px #000000;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #320064);
    animation: btn-anim1 1s linear infinite;
}


.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #320064);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}


.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #320064);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}


.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #320064);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

.footer {
    border-top: 1pt solid black;
    margin-top: 45%;
    position: sticky;
    width: 100%;
    height: 100px;
    background-color: white;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer::-webkit-scrollbar {
    display: none;
}

.footer .row {
    display: inline-block;
    z-index: 1;
    width: 100%;
    margin: 2% 0%;
    padding: 0.6% 0%;
    color: rgb(0, 0, 0);
    font-size: 0.8em;
}

.footer .row a {
    z-index: 1;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.footer .row a:hover {
    color: #000000;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {

    font-size: 2em;
    margin: 0% 1%;
}